.dish-card {
	width: 175px;
	height: 210px;
	border-radius: 8px;
	box-shadow: 0 0 3px;
	text-align: center;
	margin: 12px;
}


button {
	padding: 8px;
	min-width: 70px;
	background-color: royalblue;
	border: none;
	border-radius: 12px;
	cursor: pointer;
	color: white;
	margin-top: 12px
}
